* {
    scroll-behavior: smooth;
}

:root {
    --primary: #9381FF;
    --secondary: #B8B8FF;
    --onprimary: #F8F7FF;
}

.highlight-yellow {
    background-color: yellow;
}

.highlight-pink {
    background-color: pink;
}

.highlight-blue {
    background-color: blue;
}

.highlight-red {
    background-color: red;
}

.highlight-greenyellow {
    background-color: greenyellow;
}

#hover-box {
    display: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--onprimary);
    border-radius: 15px;
    padding: 10px;
    z-index: 1000;
    width: 300px;
    height: 300px;
}

#tabDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#tabDiv::-webkit-scrollbar {
    display: none;
}

#addNoteBtn {
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--onprimary);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    font-size: 16px;
}

.noteBtn {
    background-color: var(--primary);
    color: var(--onprimary);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    min-width: fit-content;
    height: 30px;
}

#notesDiv {
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    height: 190px;
    resize: none;
    overflow: auto;
}

#saveBtn {
    width: 100%;
    margin-top: 10px;
}

#noNotesDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#udDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.udBtn {
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}