* {
    scroll-behavior: smooth;
}

:root {
    --primary: #9381ff;
    --secondary: #B8B8FF;
    --onprimary: #F8F7FF;
}

#hover-box {
    display: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--onprimary);
    border-radius: 15px;
    padding: 10px;
    z-index: 1000;
    width: 300px;
    height: 300px;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

#tabDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    height: 30px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#tabDiv::-webkit-scrollbar {
    display: none;
}

#addNoteBtn {
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--onprimary);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    font-size: 16px;
}

.noteBtn {
    background-color: var(--primary);
    color: var(--onprimary);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    min-width: fit-content;
    height: 30px;
}

#notesDiv {
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    height: 190px;
    resize: none;
    overflow: auto;
}

#saveBtn {
    width: 100%;
    margin-top: 10px;
}

#noNotesDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: var(--primary) !important;
}

#udDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.udBtn {
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}


#settingBtn {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    right: 10px;
    top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settingBtn img {
    width: 25px;
    background: transparent;
    -webkit-filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}

#favColor,
#favTextColor {
    appearance: none;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

#favColor::-webkit-color-swatch-wrapper,
#favTextColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#favColor::-webkit-color-swatch,
#favTextColor::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

#fontPicker {
    width: 100%;
}

#fontSelect {
    width: inherit;
    padding: 2px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--onprimary);
    border-radius: 5px;
}

#fontSelect {
    background-color: var(--onprimary);
    color: var(--primary);
}

#settingDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    color: black !important;
}

#saveSettingBtn {
    width: 100%;
}


.btn {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--onprimary);
    transition: all 0.1s linear;
}

.btn:hover {
    scale: 1.05;
}

.settingParams {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}