:root {
    --primary: #9381FF;
    --secondary: #B8B8FF;
    --onprimary: #F8F7FF;
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

#container {
    width: 250px;
    /* overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#container::-webkit-scrollbar {
    display: none; */
}

.active {
    display: block !important;
}

#colorPicker {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--onprimary);
    border-radius: 10px;
}

#addCustomColor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#favColor {
    appearance: none;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

#favColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#favColor::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--onprimary);
    transition: all 0.1s linear;
}

.btn:hover {
    scale: 1.1;
}

.colorOption {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

#favColor {
    border-radius: 25%;
}

.crossBtn {
    background-color: black;
    color: white;
    position: absolute;
    top: -5px;
    right: 0px;
    transition: all 0.2s linear;
    display: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

#fontPicker {
    width: 100%;
}

#fontSelect {
    width: inherit;
    padding: 2px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--onprimary);
    border-radius: 5px;
}

#fontSelect {
    background-color: var(--onprimary);
    color: var(--primary);
}

#searchAnnotation {
    width: 100%;
    display: none;
    transition: all 0.5s linear;
}

#searchAnnotation input {
    padding: 5px 3px 5px 3px;
    font-size: 16px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 10px;
}

#searchAnnotationByDate {
    display: none;
}


#searchAnnotationByDate div input {
    padding: 5px 3px 5px 3px;
    font-size: 16px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#searchAnnotation span {
    font-size: 16px;
}

#searchBtn {
    width: 100%;
    margin-top: 10px;
}

#searchBtn:hover {
    scale: 1.03;
}

#submitDateFilter {
    width: 100%;
    margin-top: 10px;
    background-color: var(--onprimary);
    border: 2px solid var(--primary);
    color: var(--primary);
}

#submitDateFilter:hover {
    scale: 1.03;
}

#downloadBtn {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#downloadBtn:hover {
    scale: 1.03;
}

.highlightDiv {
    margin-top: 10px;
}

.highlightTextDiv {
    font-size: 16px;
    cursor: pointer;
    background-color: var(--onprimary);
    padding: 5px 5px 5px 5px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    position: relative;
    display: flex;
}

.highlightNotesDiv {
    font-size: 14px;
}

.deleteHighlightBtn {
    flex: 1;
    width: 25px;
    height: 25px;
    background-color: red;
    border: none;
    text-align: center;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
}

#viewNoteBtn {
    width: 100%;
    margin-top: 10px;
}

#viewNoteBtn:hover {
    scale: 1.03;
}

#viewAnnotations {
    display: none;
}

#loader {
    display: none;
}

.container {
    --uib-size: 13px;
    --uib-color: white;
    --uib-speed: .8s;
    --uib-bg-opacity: 0.1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
    will-change: transform;
    overflow: visible;
}

.car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 25, 75;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transition: stroke 0.5s ease;
}

.track {
    fill: none;
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#alertUser {
    display: none;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

#viewShortcuts {
    width: 100%;
    margin-top: 10px;
}

#viewShortcuts:hover {
    scale: 1.03;
}

#shortcutsDiv {
    display: none;
    padding: 10px;
}

#shortcutsDiv p {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.keyBtn {
    background-color: grey;
    color: white;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    text-align: center;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyText {
    margin: auto;
}